body {
    text-align: center;
}

.nav {
    padding: 10px 0 10px 0;
    font-size: 24px;
    background-color: #3F51B5;
    color: white;
}

.nav a {
    color: #2196F3;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.nav a.active {
    color: white;
}

.main {
    font-size: 24px;
}

.img-container {

}

.img-container .img {
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.img-container .img img {
    display: block;
    margin: 10px auto;
    width: 50%;
}

.img-container .img title {
    bottom: 0px;
    display: block;
}

